@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

:root {
  --background: #f7f6f8;
  --foreground: #200b3c;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #200b3c;
  --color-accent-teal: #24b9d7;
  --color-accent-gold: #f7bb00;
  --color-background-light: #f7f6f8;
  --color-background-dark: #181220;
  --font-sans: var(--font-manrope);
  --font-display: var(--font-manrope);
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-manrope), sans-serif;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.hero-gradient {
  background: linear-gradient(to right,
      rgba(32, 11, 60, 0.9),
      rgba(32, 11, 60, 0.2));
}