@import "tailwindcss";

:root {
  --background: #f7f6f8;
  --foreground: #200b3c;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-manrope);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-manrope), sans-serif;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.hero-gradient {
  background: linear-gradient(
    to right,
    rgba(32, 11, 60, 0.9),
    rgba(32, 11, 60, 0.2)
  );
}
